.DS_Store
*.iml

.idea/
target/
cdk.out/

/scripts/certs/*
/software/lambda-only/function/src/main/resources/*
/software/lambda-using-separate-layer/layer/src/main/resources/*
/software/backend-service-1/conf.d/certs/*
/software/backend-service-2/conf.d/certs/*

!/scripts/certs/.gitkeep
!/software/lambda-only/function/src/main/resources/.gitkeep
!/software/lambda-using-separate-layer/layer/src/main/resources/.gitkeep
!/software/backend-service-1/conf.d/certs/.gitkeep
!/software/backend-service-2/conf.d/certs/.gitkeep
/software/.mvn/

*.jks
